@import '../../foundations/color';

.p-definition-list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px 20px;
  padding: 10px 20px;
  border: 1px solid $color-primary-4;
  border-radius: 3px;

  &__title {
    font-weight: bold;
  }
}
