@import 'foundations/color';

.p-fieldset {
  border: 0;

  &__legend {
    font-size: 14px;

    &--has-error {
      color: $color-alert;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    height: 32px;
  }

  &__list-item {
    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}
