@import '../../foundations/color';

.p-table {
  border-radius: 3px;

  &--full-width {
    width: 100%;
    border-collapse: collapse;
  }

  &--no-footer {
    .p-table__body {
      tr:last-of-type {
        td:first-of-type {
          border-bottom-left-radius: 3px;
        }

        td:last-of-type {
          border-bottom-right-radius: 3px;
        }
      }
    }
  }

  &__header {
    tr:first-of-type {
      th:first-of-type {
        border-top-left-radius: 3px;
      }

      th:last-of-type {
        border-top-right-radius: 3px;
      }
    }
  }

  &__cell {
    // border: 1px solid $color-primary-4;
    padding: 10px;
    text-align: left;
    background-color: #eee;

    &--right-align {
      text-align: right;
    }

    &--header {
      padding: 5px 10px;
      font-weight: normal;
      color: #fff;
      background-color: $color-primary-1;
    }
  }
}
