.c-button {
  display: block;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border-radius: 3px;
  transition: .3s;

  &:hover {
    opacity: .8;
  }
}
