@import '../../foundations/color';

.c-button {
  display: inline-block;
  padding: 5px 15px;
  min-width: 120px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: $color-primary-1;
  border-radius: 3px;
  transition: .3s;

  &:hover {
    opacity: .8;
  }

  &--danger {
    color: #fff;
    background-color: #c33;
  }

  &--primary {
    color: #fff;
    background-color: $color-primary-4;
  }
}
