@import 'foundations/color';

.c-text-link {
  color: $color-primary-4;

  &--light {
    color: $color-primary-1;
    transition: .3s;

    &:hover {
      color: $color-primary-2;
    }
  }

  &--no-decorate {
    text-decoration: none;
  }
}
