%section.p-section-card
  .p-section-card__header.p-content-header
    %h2.p-content-header__title Stocks
    = link_to 'New Stock', new_stock_path, class: 'c-button c-button--primary'

  .p-section-card__content
    %table.p-table.p-table--full-width.p-table--no-footer
      %thead.p-table__header
        %tr
          %th.p-table__cell.p-table__cell--header 名称
          %th.p-table__cell.p-table__cell--header 住所
          %th.p-table__cell.p-table__cell--header
      %tbody.p-table__body
        - @visited_places.each do |place|
          %tr
            %td.p-table__cell= place.name
            %td.p-table__cell= place.address
            %td.p-table__cell.p-table__cell--right-align= link_to '詳細', visited_place_path(place), class: 'c-button'
