@import 'objects/components/button';

.header {
  position: fixed;
  display: grid;
  grid-template:
    "  .     .   .    .   .    .    .  " 5px
    "  .   name  .   nav  .   btn   .  " auto
    "  .     .   .    .   .    .    .  " 5px
    / 20px auto 1fr auto 20px auto 20px;
  align-items: center;
  min-width: 100vw;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);

  &__application-name {
    grid-area: name;
    font-size: 20px;
    font-weight: bold;
  }

  &__nav {
    grid-area: nav;
  }

  &__new-stock {
    grid-area: btn;
  }
}
