@import 'objects/components/button';
@import 'objects/components/text_link';

.header {
  position: fixed;
  display: grid;
  grid-template:
    "  .     .   .    .    .     .    .     .     . " 5px
    "  .   name  .   nav   .   stock  .   logout  . " auto
    "  .     .   .    .    .     .    .     .     . " 5px
    / 20px auto 1fr auto 20px   auto 10px  auto 20px;
  align-items: center;
  min-width: 100vw;
  background-color: $color-primary-4;

  &__application-name {
    grid-area: name;
    font-size: 20px;
    font-weight: bold;
    color: $color-primary-1;
  }

  &__nav {
    grid-area: nav;
  }

  &__new-stock {
    grid-area: stock;
  }

  &__logout {
    grid-area: logout;
  }
}
