.application {
  display: grid;
  grid-template:
    "       header             header             header       " 50px
    "         .                  .                  .          " 20px
    "         .                content              .          " minmax(calc(100vh - 70px), auto)
    / minmax(20px, 1fr) minmax(800px, auto) minmax(20px, 1fr);
}

.application__header {
  grid-area: header;
}

.application__content {
  grid-area: content;
}
